.form-input {
  margin-top: 10px;
  text-indent: 20px;
  font-size: 16px;
  display: flex;
  height: 28px;
  border-radius: 25px;
  border: none;
  outline: none;
  width: 160px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::placeholder {
  color: rgb(41, 40, 40);
  font-size: 15px;
}

input:focus::placeholder {
  opacity: 0;
}

.date {
  text-indent: 5px;
}

#go-to-statement-button {
  margin-top: 25px;
}
